span {
	font-size: 1.5em;
}

.formulario {
  animation: aparece 1s;
  background-color: #e5e0dc;
  border-radius: 10px;
  border: 5px dashed #b98a7d;
  box-shadow: 0px 0px 40px -8px #b98a7d6a inset, 0px 0px 40px -8px #b98a7dda;
  margin: 10% auto 0;
  text-align: center;
  padding: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
	color: #987070;
	font-weight: 600;
}

a {
  text-decoration: none;
  color: #987070;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: #523838;
  font-weight: 600;
}
#button1 {
  color: #246428;
  background-color: rgba(0, 128, 0, 0.349);
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

#button2 {
  color: #793030;
  background-color: rgba(255, 0, 0, 0.26);
  border-radius: 5px;
  padding: 5px 10px;
}

.necesario {
	color: #523838;
	background-color: #e6b4b4;
	border: 1px solid #523838;
	border-radius: 5px;
	padding: 2px;
}