h2 {
  color: #c79a8e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  text-shadow: 0px 0px 6px rgba(162, 121, 108, 0.5);
  margin-bottom: 10px;
  line-height: 1.2;
}

img {
	transition: all .2s ease;
}

img:hover {
	transform: scale(1.1);
}

#comida1, #comida2, #comida3, #comida4 {
  background-color: #e5e0dc;
  border: 5px dashed #b98a7d;
  border-radius: 20px;
  box-shadow: 0px 0px 40px -8px rgba(185, 138, 125, 0.4) inset;
  margin: 2%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

#comida1, #comida3 {
	animation: unLado 1.3s ease 0s 1 normal forwards;
	padding-left: 10px;
}

.textoDerecha{
	text-align: right;
}

#comida2, #comida4 {
	animation: alOtro 1.3s ease 0s 1 normal forwards;
}

.menu {
	margin-bottom: 5%;
	margin-top: 5%;
	margin: auto;
	width: 60%;
}

.menu1 {
	float: right;
	margin: auto;
	width: 100px;
}

.menu2 {
	float: left;
	margin: auto;
	width: 100px;
}