.ubicacion {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    padding: 5%;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 10px;

}

.ubicacion img{
    display: block;
    margin: auto;
    width: 20%;
}